body{
  color:#484949;
  background-color:lightgray;
  line-height: 18px;
  margin: 0px 50px 0px 50px;
  font-size: 14px;

}

h1{
  font-family: Helvetica;
  font-size: 24px;
  color: #1A9DBA;
  font-weight: bold;
  text-transform:uppercase;
}

h2{
  font-family: Helvetica;
  font-size: 14px;
  color: #484949;
  font-weight: bold;
  text-transform:uppercase;

}

h3{
  font-family: Helvetica;
  font-size: 13px;
  color: #484949;
  font-weight: bold;
  display: inline-block;
}

.span1{
  float:left;
}
#collection{
width:33%;
}

#detail{
width:66%;

}

.content{
  box-shadow: 1px 1px 5px #888888;
}

body p{
  text-align: justify;
}

.img-circle{
  width: 122px;
  height: 122px;
}

.img-circle:active{
  border: 9px solid #1A9DBA;
}

#poster{
  border:3px solid #FF9433;
  width: 174px;
  height: 267px;
}

#creditimg{
  width: 66px;
  height: 66px;
}

#creditimg:focus
{
  border: 5px solid #1A9DBA;  
}


#fullsizeimg{
  border: 3px solid #FF9433;
  width: 347px;
  height: 420px;
}

body span{
  font-family: Helvetica;
  font-size: 13px;
  text-align: justify;
}


