<!--Partail/movie-credits-->
<br>
<div>
<h2>Movie Credits</h2>
<hr>
<div class="row">
<div class="col-md-4">
	<!--Rendering All credits in table-->
	<table class="table" ng-repeat="credit in credits.data.cast">
		<tr>
			<td><img class="img-circle" id="creditimg" ng-src="http://image.tmdb.org/t/p/w92/{{credit.profile_path}}" ng-click="displayImg(credit.profile_path)"/></td>
			<td><h2>{{credit.name}}</h2>
				<p>{{credit.character}}</p>
			</td>
		</tr>
	</table>
</div>
<div class="col-md-7" ng-show="showImg">
<img src="http://image.tmdb.org/t/p/w92/{{img_path}}" id="fullsizeimg">
</div>
</div>
</div>