<!--partials/movie-detail-->
<div>
	<h1>{{details.data.title}}</h1>
	<hr>
	<div class="row">
	<div class="col-md-4">
		<img id="poster" ng-src="http://image.tmdb.org/t/p/w154/{{details.data.poster_path}}">
	</div>
	<div class="col-md-7">
		<h2>Who Made It</h2>
		<h3>Director:</h3><span>{{director}}</span><br>
		<h3>Writers: </h3><span>{{write}}</span><br>
		<h3>Stars:  </h3><span> {{star}}</span>
		<br>
		<h2>WHAT'S IT ABOUT?</h2><p>{{details.data.overview}}</p>
	</div>
		
	</div>
	
</div>