<!--partials/movie-collection-->
<!--Display collection of movie-->
<div>
	<div ng-show="showresult">
		<h1>Browse Movie</h1>
		<strong>Name of Collection :</strong> {{result.data.name}}<br>
	</div>
	<div class="p3scroll" ng-show="showresult">
		<table class="table">
			<col width="400">
			<col width="575">
			<tr ng-repeat="movie in result.data.parts" ng-switch on="$index % 2">
			<td ng-switch-when="0" height="50px">				 
				<a ng-href="" ng-click="showDetail(result.data.parts[$index].id)">
				<img class="img-circle" ng-src="http://image.tmdb.org/t/p/w92/{{result.data.parts[$index].poster_path}}"/>
				</a>
			{{result.data.parts[$index].title}}
			</td>
				<span ng-show="items[$index+1]">
					<td ng-switch-when="0">
						<a ng-href="" ng-click="showDetail(result.data.parts[$index+1].id)">
						<img class="img-circle" ng-src="http://image.tmdb.org/t/p/w92/{{result.data.parts[$index+1].poster_path}}"/>
						</a>
						{{result.data.parts[$index+1].title}}
						</td>
				</span>   
			</tr>
		</table>
	</div>
</div>